<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${moduleName}.dao.${className}Dao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="${package}.${moduleName}.entity.${className}" id="${classname}Map">
#foreach($column in $columns)
        <result property="${column.attrname}" column="${column.columnName}"/>
#end
    </resultMap>
    
    <sql id="select${className}Vo">
        select#foreach($column in $columns) $column.columnName#if($velocityCount != $columns.size()),#end#end from ${tableName}
    </sql>
	
	 <insert id="save${className}" parameterType="${className}"#if($primaryKey.extra == 'auto_increment') useGeneratedKeys="true" keyProperty="pk.attrname"#end>
        insert into ${tableName}(
#foreach($column in $columns)
#if($column.columnName != $primaryKey.columnName || $primaryKey.extra != 'auto_increment')
			<if test="$column.attrname != null #if($column.attrType == 'String' ) and $column.attrname != '' #end ">$column.columnName,</if>
#end
#end
        )values(
#foreach($column in $columns)
#if($column.columnName != $primaryKey.columnName || $primaryKey.extra != 'auto_increment')
			<if test="$column.attrname != null #if($column.attrType == 'String' ) and $column.attrname != '' #end ">#{$column.attrname},</if>
#end			
#end
        )
    </insert>
    
    <update id="update${className}" parameterType="${className}">
        update ${tableName}
        <set>
#foreach($column in $columns)
#if($column.columnName != $primaryKey.columnName)
            <if test="$column.attrname != null #if($column.attrType == 'String' ) and $column.attrname != '' #end ">$column.columnName = #{$column.attrname},</if>
#end
#end
        </set>
        where ${pk.columnName} = #{${pk.attrname}}
    </update>
    
	<select id="selectAll${className}" parameterType="${className}" resultMap="List">
        <include refid="select${className}Vo"/>
        <where>
#foreach($column in $columns)
#if($column.columnName != $primaryKey.columnName)
            <if test="$column.attrname != null #if($column.attrType == 'String' ) and $column.attrname != '' #end ">$column.columnName = #{$column.attrname},</if>
#end
#end
        </where> 
    </select>
    
    <delete id="delete${className}ById" parameterType="${primaryKey.attrType}">
        delete from ${tableName} where ${pk.columnName} = #{${pk.attrname}}
    </delete>    

</mapper>